.main-container{
    overflow-y: auto;
    flex: 1 1 auto;

}
.header{
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    margin-bottom: 1rem;   
}


.header h3{
    color: var(--primary-text);
    margin:0

}

.header button{
    all: unset;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.icon{
    color: var(--secondary-text)
}

.icon-text{
    padding: 2px;
    font-size: 0.75rem;
    color: var(--secondary-text);
}

.status-chips{
    margin: 1rem 0 1rem 0;

}

.history{
    margin-top: 1.25rem;
}

.footer-navigation{
    position: sticky;
    bottom:0;
    width: 100%;
    right: 0;
    left: 0;
    height: 100px;
    background-color: var(--page-background);
    /* left: 20px; */
    /* align-items:last baseline; */

}
