
.header{
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    margin-bottom: 1rem;    
    position: sticky;
}


.header h1{
    color: var(--header-text);
    margin:0

}

.header button{
    all: unset;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.icon-text{
    padding: 2px;
    font-size: 0.75rem;
}

.status-chips{
    margin: 1rem 0 1rem 0;

}
