/* .inputRow{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    flex-grow:0;
  
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .addBtn, .cancelBtn{
    
    padding: 6px
  }

  .buttonsStyle{
    display: flex;
    gap: 10px;
  }
  
  .editButtonStyle{
    display: flex;
    gap:10px;
    margin-top: 10px;
    flex-basis: 100%;
    justify-content: center;
  }
   */

   .inputRow{
    position: relative; /* Essential for positioning the button/icon relative to the wrapper */
  width: 100%;
   }


   /* .inputRow input{
    padding-right: 40px;
    width: 100%;
   } */


   input[type="text"]{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: var(--input-background);
    border: 1px solid var(--card-border);

   }

   input::placeholder{
    color: var(--placeholder-text);
    padding-left: 0.5rem;
   }

   .addBtnIcon{
    background-color: var(--primary-accent);
    border: none;
    color: var(--soft-accent);
    position: absolute; 
  right: 0;
  top: 5px;
  border-radius: 8px;
  height: 80%;
  width: 2.5rem;
 
  cursor: pointer;


   }