

   .inputRow{
    position: relative; 
  width: 100%;
   }




   input[type="text"]{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    color: var(--primary-text);
    background-color: var(--input-background);
    border: 1px solid var(--card-border);
    text-indent: 10px;
    padding-right: 50px;

   }

   input::placeholder{
    color: var(--placeholder-text);
    padding-left: 0.5rem;
   }

   .addBtnIcon{
    background-color: var(--primary-accent);
    border: none;
    color: var(--soft-accent);
    position: absolute; 
  right: 4px;
  top: 4px;
  border-radius: 8px;
  height: 80%;
  width: 2.5rem;
 
  cursor: pointer;


   }