
.nav{
  border-top: 2px solid var(--card-border)
}

.nav-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
}


.nav-links{
    margin-top: 20px;
z-index: 999;

}

.nav-links a {
  text-decoration: none;       
  color: var(--placeholder-text)      
  /* font-weight: bold; */
}

a.active-link{
    color: blue;
    /* text-decoration: underline; */
  }



  a.inactive-link{
    color: var(--inactive-nav) 
  }



@media screen and (min-width: 768px){
.nav{
  border: 2px solid var(--card-border);
  background-color: var(--input-background); 
  
  border-radius: 1rem;
  /* width:  */
}
.nav-list{ display: flex;
  gap: 24px;
  align-items: center;
padding: 0.75rem;
}
.nav-links{
  margin:0
}
}