.message{
    padding: 10px;
    margin-bottom: 10px;
      text-align: center;
      font-weight: 500;
}


.message-error{
    color: var(--danger-text);
}

.message-success{
  color: var(--success-text);
}

.message-default{
  color: var(--body-text);
}